body {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Poppins', helvetica
}

.head{
    font-family: 'Kaushan Script', helvetica;
    font-size: 30px;
}

.container{
    width: 1200px;
    margin: 0px auto;
}
.flex{
    display: flex;
}
