/*navbar start*/

.navbar-container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    height: inherit;
}
.flex{
    display: flex;
}

.navbar-container-logo a{
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    font-weight: 600;
    color: #292929;
}
a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style-type: none;
 }   
.navbar ul li a {
    padding: 0px 25px;
    font-size: 12px;
    color: #898989;
    font-weight: 500;
    background: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar ul li a:hover{
    color: #292929;
    box-shadow: inset 0 -6px 0 #fdd912;
	transition: all 0.4s ease 0s;
}
.slider{
    background-image: url(./image/slide-bg-1.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.navbar-positions{
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px 0px;
}

/* navbar end*/

/* social start*/

.social{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-text {
    color: #ffffff;
    font-weight: 600;
    font-size: 100px;
}

.social-info a{
    color: #ffffff;
    font-size: 20px;
}

.social-info{
    text-align: center;
}


.about-profil-info{
    padding: 0px 40px;
}

.about-profil-info h1{
    font-size: 44px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    line-height: 56px;
}


.about-profil-info p{
    font-size: 15px;
    color: #999999;
    line-height: 28px;
}

.about-profil-info a{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    color: black;
}

.about-profil-info a:hover{
    box-shadow: inset 0 -6px 0 #fdd912;
	transition: all 0.4s ease 0s;
}


.about-profil img{
    width: 360px;
}

/* social end*/

/* service start */

.service{
    background: #f9f9f9;

}

.service-content-item{
    width: calc(100%/3);
    margin: 0px 10px;
    padding: 0px;
}

.service-content-item:first-child{
    margin-left: 0px;
}

.service-content-item:last-child{
    margin-right: 0px;
}

.service-content-item i{
    font-size: 40px;
    color: #fdd912;
}

.service-content-item p{
    font-size: 13px;
    color: #999999;
}

.service-content-item h5{
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #292929;
    font-weight: 500;
}
/* service end */

/* works start */

.works-content-item{
    width: calc(100%/3);
    margin: 20px 20px;
    transition: 0.5s;
}

.works-content-item:hover{
    transform: translateY(-10px);
    z-index: 2;
}

.works-content-item img{
    box-sizing: border-box;
    width: 100%
}

.works-content-item:first-child{
    margin-left: 0px;
}
   
.works-content-item:last-child{
    margin-right: 0px;
}