.navbar-container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1200px;
    margin: 0px auto;
}
.flex{
    display: flex;
}

.navbar-container-logo a{
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    font-weight: 600;
    color: #292929;
}
a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style-type: none;
 }   
.navbar ul li a {
    padding: 0px 25px;
    font-size: 12px;
    color: #898989;
    font-weight: 500;
    background: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar ul li a:hover{
    color: #292929;
}
.slider{
    background-image: url(/image/slide-bg-1.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.navbar-positions{
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
}

.social{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-text {
    color: #ffffff;
    font-weight: 600;
}

.social-info a{
    color: #ffffff;
}


.about-profil-info h1{
    font-size: 44px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}


.about-profil-info p{
    font-size: 15px;
    color: #999999;
    line-height: 28px;
}

.about-profil-info a{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    color: black;
}
.about-profil img{
    width: 415px;
    float: left;
    padding: 0px 30px 0px 20px;
    box-sizing: border-box;
}


